.table{
    margin-top: 20px;
}

.main {
  display: flex;
  margin-bottom: 50px;
  width: 100%;

  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  position: absolute;
  top: 100px;
}

ul li {
  font-size: 20px;
}

.suggestions{
  position: relative;
  top: 0;
  background-color: white;
  cursor: pointer;
  width: 100%;
  padding-bottom: 10px;
}

.suggestions:hover{
   background-color: aliceblue;
}


.search-decoration{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.platform-dropdown{
  display: flex;
  justify-content: end;
   margin-top: 125px;
}

.dropdown-value{
   width: 200px;
}


@media only screen and (max-width: 1000px){
   .search{
     width: 80%;
   }
}